*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: whitesmoke;
    color: black;
}
section{
    max-width: 1200px;
    margin: auto;
}
nav{ 
    max-width: 1200px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 170px;
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li{
    font-size: 15px;
    cursor: pointer;
}
.btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.hero{
    margin: 40px auto;
    text-align: center;
    position:relative;
}
.hero img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 18px;
}

.hero h1{
    position: absolute;
    top: 125px;
    width: 100%;
    color: white;
    font-size:  50px;
    font-weight: 700;
}
.hero p {
    position:absolute;
    top:200px;
    left:15%;
    width:70%;
    color:white;
    font-size:18px;
    line-height:30px;
}
.hero button{
    position: absolute;
    top: 420px;
    left: 44%
}
.speaker-containar{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.speakers h2{
    text-align: center;
    margin-bottom: 30 px;
    font-size: 35px;
}
.card{
    margin-right:20px;
    margin-top: 20px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    text-align:center;
}
.card img{
    width: 100%;
    border-radius:15px;
}
.card p{
    margin:12px 0;
    color:#666;
}
.card h3{
    font-size:22px;
}
